body {
    background-color: whitesmoke;
}

header {
    background-color: pink;
    border: 1px solid black;
}

.nav-links li {
    display: inline-block;
}

main {
    background-color: chocolate;
    border: 1px solid black;
    padding: 20px;
}

#img1 {
    width: 200px;
    float: left;
    margin-right: 10px;
}

#img2 {
    width: 300px;
    float: right;
    left: 50px;
    margin: 20px;
}

#section1 {
    background-color: aqua;
    border: 1px solid black;
    margin: 25px;
}

#p1 {
    width: 750px;
    border: 5px solid black;
}

#titulo-tabela {
    background-color: black;
    color: white;
    width: 150px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

h3 {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    font-family: cursive;
}